table {
    border-width: 5px;
    border-color: silver;
    align: center;
}

table, th, td {
    border-style: solid;
    border-collapse: collapse;
    padding: 15px;
}

th {
    background-color: rgb(35, 69, 69);
    color: rgb(156, 255, 156);
    text-shadow: 5px 5px 5px #000;
}